.s-container {
  position: relative;
}
.swiper {
  width: 70%;
  height: 12rem;
  position: unset;
}
.SwiperSlide {
  background: white;
  display: flex;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.Slides {
  height: 90%;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  display: flex;
  flex-direction: column;
}
.name > :nth-child(1) {
  font-size: 1.4rem;
  font-weight: 600;
}
.Slides > :nth-child(2) {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: 2rem;
}

.Slides > :nth-child(3) {
  font-size: 0.6rem;
  border: 1px solid var(--black);
  padding: 5px 10px;
  width: max-content;
  border-radius: 50px;
}
.ProductImg {
  transform: rotate(-20deg);
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  bottom: -20%;
}
